<h1 class="animated FadeIn fast">Proyectos</h1><br>
<hr>

<div class="row row-cols-2 row-cols-md-8 g-4 me-auto mb-10 mb-lg-5 animated fadeIn">
    <div class="card text-bg-primary mb-3 py-2 px-4 md-8 g-8" style="max-width: 35rem;">
        <div class="card-header">Node + postman</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card text-bg-secondary mb-3 py-2 px-4" style="max-width: 35rem;">
        <div class="card-header">Node+Postman+Mongodb</div>
        <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card text-bg-success mb-3 py-2 px-4" style="max-width: 35rem;">
        <div class="card-header">Api rest: Node + Postman + Espress + MongoDB</div>
        <div class="card-body">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card text-bg-danger mb-3 py-2 px-4" style="max-width: 35rem;">
        <div class="card-header">MySql/Postgress</div>
        <div class="card-body">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<hr>
<br>
<div class="list-group animated fadeIn">
    <a class="list-group-item list-group-item-action active">
        Links de referencia
    </a>
    <a href="https://es.stackoverflow.com/" class="list-group-item list-group-item-action">StackOverFlow</a>
    <a href="https://hectorip.github.io/Eloquent-JavaScript-ES-online/"
        class="list-group-item list-group-item-action">Eloquent Javascript</a>
    <a href="https://developer.mozilla.org/es/" class="list-group-item list-group-item-action">Developer.mozilla</a>
</div>