<h1>Lenguajes usados por nosotros</h1><br><br>
<hr>

<h2>Node.JS<img src="nodejs.png" style=" width: 80px; height: 50px"></h2><br>
<b>¿Qué es Node.js?</b><br>
Node.js®, Node.js, es un entorno en tiempo de ejecución multiplataforma para la capa del servidor (en el lado del
servidor) basado en JavaScript.

Node.js es un entorno controlado por eventos diseñado para crear aplicaciones escalables, permitiéndote establecer y
gestionar múltiples conexiones al mismo tiempo. Gracias a esta característica, no tienes que preocuparte con el bloqueo
de procesos, pues no hay bloqueos.

¿Cómo funciona Node.js?
El diseño de Node.js está inspirado en sistemas como el Event Machine de Ruby o el Twisted de Python. Sin embargo,
Node.js presenta un bucle de eventos como una construcción en tiempo de ejecución en lugar de una biblioteca. Este bucle
de eventos es invisible para el usuario.

Otra característica especial de Node.js es que está diseñado para simplificar la comunicación. No tiene subprocesos,
pero te permite aprovechar múltiples núcleos en su entorno y compartir sockets entre procesos.

Características principales de Node.js
Resumiendo, Node.js se ha hecho popular en los últimos años gracias a las siguientes características:

Velocidad. Node.js está construido sobre el motor de JavaScript V8 de Google Chrome, por eso su biblioteca es muy rápida
en la ejecución de código.
Sin búfer. Las aplicaciones de Node.js generan los datos en trozos (chunks), nunca los almacenan en búfer.
Asíncrono y controlado por eventos. Como hemos dicho anteriormente, las APIs de la biblioteca de Node.js son asíncronas,
sin bloqueo. Un servidor basado en Node.js no espera que una API devuelva datos. El servidor pasa a la siguiente API
después de llamarla, y un mecanismo de notificación de eventos ayuda al servidor a obtener una respuesta de la llamada a
la API anterior.
Un subproceso escalable. Node.js utiliza un modelo de un solo subproceso con bucle de eventos. Gracias al mecanismo de
eventos, el servidor responde sin bloqueos, como hemos dicho. Esto hace que el servidor sea altamente escalable
comparando con los servidores tradicionales como el Servidor HTTP de Apache.
¿Para qué sirve Node.js?
Puedes utilizar Node.js para diferentes tipos de aplicaciones. Los siguientes son algunos de los ejemplos:
<ul class="list-group">
    <li class="list-group-item">Aplicaciones de transmisión de datos (streaming)</li>
    <li class="list-group-item">Aplicaciones intensivas de datos en tiempo real</li>
    <li class="list-group-item">Aplicaciones vinculadas a E/S</li>
    <li class="list-group-item">Aplicaciones basadas en JSON:API</li>
    <li class="list-group-item">Aplicaciones de página única</li>
</ul>
<br>
<hr>

<b>¿Quíen usa Node.js?</b>
Cómo debes imaginar, casi todas las marcas más importantes del mercado utilizan Node.js. A continuación tienes algunos
ejemplos:<br>

GoDaddy
Microsoft
eBay
General Electric
PayPal
Uber
NASA
Netflix
LinkedIn
Medium

<br><br>
<hr>

<h2>Postman <img src="nodejs.png" style=" width: 80px; height: 50px"></h2><br><br>

<b>Qué es Postman</b>
<br>
<p>Postman en sus inicios nace como una extensión que podía ser utilizada en el navegador Chrome de Google y básicamente
    <u>nos permite realizar</u> peticiones de una manera simple para testear APIs de tipo REST propias o de terceros.

    Gracias a los avances tecnológicos, Postman ha evolucionado y ha pasado de ser de una extensión a una aplicación que
    dispone de herramientas nativas para diversos sistemas operativos como lo son Windows, Mac y Linux.

    Cuenta con una versión libre de pago y con tres planes (básico, profesional y empresarial), si deseas consultar el
    detalle entre cada plan y sus precios puedes verlo en su web oficial.<br><br>

    <b>Para qué sirve Postman</b>
    Postman sirve para múltiples tareas dentro de las cuales destacaremos en esta oportunidad las siguientes:

    Testear colecciones o catálogos de APIs tanto para Frontend como para Backend.
    Organizar en carpetas, funcionalidades y módulos los servicios web.
    Permite gestionar el ciclo de vida (conceptualización y definición, desarrollo, monitoreo y mantenimiento) de
    nuestra
    API.
    Generar documentación de nuestras APIs.
    Trabajar con entornos (calidad, desarrollo, producción) y de este modo es posible compartir a través de un entorno
    cloud
    la información con el resto del equipo involucrado en el desarrollo.<br>

    <b>Métodos más utilizados y posibles errores</b>
    Postman cuenta con una serie de métodos que nos permiten tomar acción ante nuestras peticiones, a continuación, te
    dejamos los más utilizados:<br><br>

    <b>GET:</b> Obtener información<br>
    <b>POST:</b> Agregar información<br>
    <b>PUT:</b> Reemplazar la información<br>
    <b>PATCH:</b> Actualizar alguna información<br>
    <b>DELETE:</b> Borrar información<br><br>
    En cuanto a los posibles errores que podemos apreciar en la respuesta que nos ofrece la herramienta, lo resumiremos
    en
    que si la respuesta dada se encuentra en el rango de “200” quiere decir que toda la petición ha salido sin
    inconvenientes; mientras que el rango de los códigos de error “400” hacen referencia a errores con el cliente y
    aquellos
    errores en la línea de los “500” tienen que ver con fallos en el servidor.
</p>
<br><br>
<hr>



<h2>Postgress MysQl<img src="nodejs.png" style=" width: 80px; height: 50px"></h2>

A grandes términos, PostgreSQL o Postgres es un sistema de gestión de datos de base relacional de código abierto.

Entonces, <u>¿Qué es una base de datos relacional?</u><br>

Esencialmente significa que estas bases de datos utilizan un lenguaje con una estructura predefinida, se almacenan por
tablas. En ese sentido, es una base de datos como puedes imaginarla. Una base de datos no relacional es un concepto más
complicado, donde su estructura no está definida.

PostgreSQL, por lo tanto, permite crear, gestionar y consultar bases de datos relacionales de gran tamaño, lo que lo
convierte en un sistema ideal para la creación de páginas web que necesiten interactuar con datos.<br>

Aun así, existen una gran cantidad de sistemas de gestión de bases de datos relacionales como Microsoft SQL Server u
Oracle Database. Entonces, ¿Qué es lo que hacer que PostgreSQL sea diferente?<br><br>

<b>PostgreSQL: Características principales</b><br>
<u>De código abierto y gratuita</u><br>
Aunque es una característica muy habitual en la mayoría de sistemas de gestión de datos, sigue siendo una característica
importante.
Postgres está gestionado por una comunidad desinteresada de desarrolladores que tratan de mejorarla constantemente y
adaptarla a las nuevas necesidades que puedan surgir.<br>

Un sistema de gestión de datos gestionado por expertos desinteresados y, además, completamente gratis. Uno de los
motivos por los que es considerado uno de los mejores sistemas de gestión de datos del momento.
<br>
<u>Volúmen de datos extenso</u><br>
Una de las principales características de PostgreSQL es que permite gestionar bases de datos de gran tamaño de manera
sencilla, una función que otras bases de datos no tiene tan bien implementada.

El programa permite insertar textos ilimitados y consultarlos de manera intuitiva si se conocen las bases de los
lenguajes que soporta, que son muchos (PL/SQL, C y C++, Java PL, plPHP…)

En ese sentido, es un sistema perfecto para páginas web de gran calibre que trabajen con una gran cantidad de
información.<br><br>

<b>que es postgresql</b><br><br>
<u>Alta concurrencia</u><br>
Que un sistema de gestión de bases de datos tenga alta concurrencia significa que es posible consultar la base de datos
mientras otro proceso la está escribiendo. No hay que esperar a que dicho proceso finalice para poder consultar su
información.

Dicho en otras palabras, PostgreSQL puede procesar numerosas solicitudes de manera simultánea y hacerlo sin que esto
afecte a su rendimiento, algo especialmente importante a la hora de trabajar de manera coordinada con un equipo.
<br>
<u>Multiplataforma</u>
De nuevo, una característica común en la mayoría de sistemas de gestión de bases de datos pero que no por eso es menos
importante.

Las bases de datos PostgreSQL pueden ser utilizadas y consultadas a través de la gran mayoría de sistemas operativos y
es compatible con la gran mayoría de servidores web. En definitiva, pueden ser usadas donde sea con muy pocas
excepciones.<br>

<u>Sencilla de utilizar</u><br>
Este concepto va muy relacionado con la alta concurrencia de sus bases de datos. El hecho que pueda procesar numerosas
solicitudes acelera el trabajo de los programadores porque permite realizar numerosas tareas de manera simultánea.

Además, su panel PgAdmin (esencialmente lo mismo que phpMyAdmin) permite acceder de manera sencilla a todas las
funcionalidades que ofrece Postgres y gestionarlas desde un mismo sitio y de manera intuitiva.

En definitiva, cualquier programador con una mínima base puede administrar una base de datos mediante PostgreSQL.
<br>
<b>¿Cuándo usar PostgreSQL?</b><br><br>
La alternativa más habitual frente PostgreSQL tiende a ser MySQL.

La principal diferencia entre ambos sistemas de gestión de datos es que MySQL no soporta bien grandes cantidades de
información, algo que PostgreSQL hace perfectamente. En la misma línea, Postgres soporta queries mucho más complejas que
MySQL.

Aun así, MySQL tiene un mejor rendimiento cuando hablamos de bases de datos pequeñas y medianas, aunque también hay que
destacar que no cumple al 100% con ACID, lo que significa que los datos con los que trabajamos pueden perderse si no
usas, en su caso, InnoDB. Por otro lado, PostgreSQL cuenta con el soporte de ACID.
<br>
El principal problema de PostgreSQL es que no cuenta con un gestor de bugs, por lo que es difícil gestionar la
corrección de errores.

Aun así, PostgreSQL es la opción más adecuada a la hora de gestionar bases de datos de gran tamaño. También lo es si el
soporte de ACID es un elemento imprescindible para tu proyecto. Aun así, MySQL sigue siendo una mejor opción para la
gestión de pequeñas cantidades de datos, puesto que cuenta con un mejor rendimiento.