<div class="footer animated FadeIn fast">
    <div class="card mb-4">
        <img src="./nodejs.png" class="card-img-top" alt=" Smeley face">
        <div class="card-body">
            <h5 class="card-title">New Projects</h5>
            <p class="card-text">Loading...</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <p class="card-text"><a href="https://docs.google.com/document/d/1SB9Uv6GnGFno2LS9xjjw6FBbHsThC1rz68LjUCoNWXo/edit"
                target="_blank">
                <h5>Homework</h5>
            </a></p>
            <p class="card-text"><small class="text-muted">Ver Links de referencia</small></p>
        </div>
        <img src="block.jpg" width="400px" class="card-img-bottom" alt="...">
    </div>
</div>